@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: "VT323", serif;
    font-size: 1.1rem;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('img/matrix_background.gif') repeat-y center center fixed;
    background-size: cover;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(rgb(0, 100, 0), transparent);
    color: rgb(0, 180, 0);
    padding: 20px 0;
    text-align: center;
    height: 250px;
    position: absolute;
    width: 100%;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 2px black;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 0;
    text-shadow: 1px 1px 2px black;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #00bcd4;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
    font-size: 105%;
}

/* Section */
section {
    padding: 20px;
}

#projects {
    padding-top: 180px;
}

section h2 {
    color: rgb(0, 255, 0);
    font-size: 2em;
    margin-bottom: 10px;
}

section article {
    background: rgba(20, 50, 20, 0.6);
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section article:hover {
    background: rgba(20, 60, 20, 0.8);
    border: 5px solid rgba(0, 200, 0, 0.3);
}

section article h3 {
    color: #00bcd4;
    margin-top: 0;
}

.status_ongoing {
    color: rgb(0, 150, 0);
}

.status_abandoned {
    color: yellow;
}

.languages {
    color: purple;
}

/* From Uiverse.io by e-coders */ 
button, a {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   button:disabled, a:disabled {
    pointer-events: none;
   }
   
   button:hover, a:hover {
    color: #000;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active, a:active {
    box-shadow: none;
    transform: translateY(0);
   }

section article p {
    margin: 10px 0;
    color: #fff;
}

/* section article a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #00bcd4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section article a:hover {
    background: #0288d1;
} */

/* Footer */
footer {
    min-height: 150px;
    background: rgba(10, 10, 10, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #00bcd4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
